@model IEnumerable<BanHang.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Product</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Screen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Os)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FrontCamera)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Camera)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cpu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ram)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SdCard)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Battery)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Os)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FrontCamera)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Camera)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cpu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ram)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SdCard)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Battery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
  
